<!DOCTYPE html>
<html>
	<head>
		<title>Guestlog</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= render 'layouts/shim' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="wrap">
			<%= render 'layouts/header' %>		
		
			<% flash.each do |key, value| %>
				<div class="container alert alert-<%= key %> flash-margin"><%= value %></div>
			<% end %>
		
	
			<div class = "container">
				<%= yield %>
				<div class="clearfix">
					<%= debug(params) if Rails.env.development? %>
				</div>
			</div>
		</div>
		<div id="footer">
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
